{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties"]
}
