{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react",
    "stage-2",
    [
      "babili",
      {
        "evaluate": false,
        "mangle": false
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties"]
}
