{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },

  "plugins": [
    'react',
    'jsx-a11y',
    'import',
    'prettier',
  ],

  "rules": {
    "prettier/prettier": [
      'error',
      {
        trailingComma: 'es5',
        singleQuote: true,
      },
    ],
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "indent": 0,
    "no-else-return": 0,
    "no-use-before-define": [2, "nofunc"],
    "valid-jsdoc": 0,
    "require-jsdoc": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 0,
  }
}
