/***********
React App
************/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  width: 100%;
  background-color: #888;
  height: 80px;
  padding: 40px;
  color: white;
}

.App-intro {
  font-size: large;
}


/***********
Global
************/

h1 {
  font-size: 160px;
  margin: auto;
}

h2 {
   font-size: 60px;
   margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/***********
List Styles
************/

.Lists {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.List {
  width: relative;
}

.todo-item {
  width: relative;
  height: 50px;
}

.container {
  float: left;
  width: relative;
  margin: 10px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  padding: 20px;
}

.edit-name {
  font-size: 20px;
}

.add-todo-button {
  margin-top: 20px;
}



.divider-up {
  opacity: 0.4;
  position: relative;
}

.divider-bottom {
  opacity: 0.4;
}

.item-finished {
  position: relative;
  display: inline-block;
  position: relative;

  font-style: italic;
  color: #AAA;
}

.item-finished:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: item-finished;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/***********
Buttons Styles
************/

.edit-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;

  float: right;
  margin-top: -10px;
  margin-right: -10px;
  position: relative;
  opacity:1;
}

.edit-svg {
  opacity:0.2;
  transition: opacity 0.2s ease-in-out;
}
.edit-svg:hover {
  opacity:0.4;
}

.delete-list-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;

  float: right;
  margin-top: -10px;
  margin-right: -15px;
  position: relative;
  opacity:1;
}

.delete-svg {
  opacity:0.2;
  transition: opacity 0.2s ease-in-out;
}
.delete-svg:hover {
  opacity:0.4;
}

.add-item-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;


  position: relative;
  opacity:1;
}

.add-item-svg {
  opacity:0.2;
  transition: opacity 0.2s ease-in-out;
}
.add-item-svg:hover {
  opacity:0.4;
}

/***********
count Styles
************/

.lists-count {
  font-style: italic;
  color: #AAA;
  font-size: 20px;
}

.item-count {
  font-style: italic;
  color: #AAA;
  font-size: 15px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes item-finished {
  0%   { width : 0; }
  100% { width: 100%; }
}
