.hideDOM {
  display: none;
}

.showDOM {
  height: 100%;
}

#hintMask {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hintMask > div {
  padding: 10px;
  border-radius: 5px;
  background-color: #eecdcc;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
}

.icon > img {
  width: 25px;
  height: 25px;
}

.icon:hover {
  border-radius: 50%;
  background-color: #b1788f;
}

.menuIcon {
  top: 2em;
  left: 2.6em;
}

.toggleIcon {
  top: 5em;
  left: 2.5em;
}

.clearIcon {
  top: 1.9em;
  right: 2em;
}

.randomIcon {
  top: 5em;
  right: 2em;
}

.narutoIcon {
  top: 8.4em;
  right: 2em;
}

.narutoIcon .glow {
  -webkit-filter: drop-shadow(1px 2px 3.3px rgb(255, 255, 255));
  filter: drop-shadow(1px 2px 3.3px rgb(255, 255, 255));
}

.displayHide {
  visibility: hidden;
  opacity: 0;
}

.menu {
  position: fixed;
  width: 40%;
  height: 100%;
  z-index: 1;
  background-color: #724a59;
  transition: all .7s ease-in-out;
}

.toggleMenu {
  margin-left: 0%;
}

/* mask */

.mask {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.3;
  z-index: 1;
  transition: margin .7s ease-in-out;
  border: none;
  outline: none;
}

.hideMask {
  margin-left: 100%;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .menu {
    width: 40%;
  }
  .toggleRevMenu {
    margin-left: -40%;
  }
  .mask {
    width: 60%;
  }
  .showMask {
    margin-left: 40%;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .menu {
    width: 80%;
  }
  .toggleRevMenu {
    margin-left: -80%;
  }
  .mask {
    width: 20%;
  }
  .showMask {
    margin-left: 80%;
  }
}

.menuBtn {
  display: flex;
  flex-wrap: wrap;
}

.control {
  display: flex;
  width: 20em;
  margin: 0.3em auto;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 5em;
  height: 2em;
  font-style: italic;
  margin: 1em;
  background-color: #eecdcc;
  padding-top: 0.5em;
  cursor: pointer;
}

/* animation */

.animation {
  position: absolute;
  top: 0;
  z-index: -1;
}

.colorMenu {
  display: grid;
  grid-template-rows: 1fr 5% 0.5fr 0.5fr 5% 0.5fr 0.5fr 5% 1fr 5% 7%;
  grid-template-columns: repeat(10, 10%);
  height: 100%;
}

.colorMenu button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.menuLogo {
  width: 40%;
}

/* grid-system */

.gssubGrid {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 10;
}

.gsstartSeq {
  grid-area: 1 / 1 / span 1 / span 5;
}

.gsstopSeq {
  grid-area: 1 / 6 / span 1 / span 5;
}

.gspatternIcon {
  grid-area: 2 / 1 / span 1 / span 10;
}

.gssavePattern {
  grid-area: 3 / 1 / span 1 / span 3;
}

.gsexitPattern {
  grid-area: 4 / 1 / span 1 / span 3;
}

.gseditPattern {
  grid-area: 3 / 4 / span 2 / span 3;
}

.gspatternList {
  grid-area: 3 / 7 / span 2 / span 4;
  display: grid;
  grid-template: 0.5em 1fr 0.5em 3fr 0.5em / 0.5em 1fr 0.5em;
  min-height: 0;
}

.gschainIcon {
  grid-area: 5 / 1 / span 1 / span 10;
}

.gsstartChain {
  grid-area: 6 / 1 / span 1 / span 3;
}

.gsexitChain {
  grid-area: 7 / 1 / span 1 / span 3;
}

.gsupdateChain {
  grid-area: 6 / 4 / span 1 / span 3;
}

.gsdeleteCurrentChain {
  grid-area: 7 / 4 / span 1 / span 3;
}

.gschainList {
  grid-area: 6 / 7 / span 2 / span 4;
  display: grid;
  grid-template: 0.5em 1fr 0.5em / 0.5em 1fr 0.5em;
}

.chainCont {
  grid-area: 2 / 2 / span 1 / span 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.chainCont > div > div {
  cursor: pointer;
  padding-left: 5px;
}

.currentPlayingItem {
  background-color: #d8b98a;
}

.newChainItem {
  color: #d8b98a;
  opacity: 0.5;
  padding-left: 5px;
  cursor: pointer;
}

.gsrecordIcon {
  grid-area: 8 / 1 / span 1 / span 10;
}

.gsstartRecord {
  grid-area: 9 / 1 / span 1 / span 6;
}

.gsrecordList {
  grid-area: 9 / 7 / span 1 / span 4;
  display: grid;
  grid-template: 0.5em 1fr 0.5em 3fr 0.5em / 0.5em 1fr 0.5em;
  min-height: 0;
}

.gspatternList > input, .gsrecordList > input {
  grid-area: 2 / 2 / span 1 / span 1;
  border: 2px solid white;
  border-radius: 0.5em;
  background: transparent;
  width: calc(100% - 6px);
}

.gspatternList .listCont, .gsrecordList .listCont {
  grid-area: 4 / 2 / span 1 / span 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.listCont > .renderedLi {
  display: grid;
  grid-template: 1fr / 9fr 1fr;
}

.listCont > .renderedLi > button {
  background-color: transparent;
  text-align: left;
}

.renderedLi:hover {
  background-color: #d8b98a;
}

.gsprojectName {
  grid-area: 10 / 1 / span 1 / span 10;
}

.noFuncRow {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #b1788f;
}

.noFuncRow > img {
  height: 50%;
}

.gscontributors {
  grid-area: 11 / 1 / span 1 / span 10;
  background-color: #724a59;
}

.btnCont {
  display: grid;
  grid-template: 1fr / 1fr;
}

.btnCont > button {
  grid-area: 1 / 1 / span 1 / span 1;
  background-color: #73676b;
}

.btnCont > button:hover {
  background-color: #725862;;
}

.btnCont > button > img {
  width: 50%;
  height: 50%;
  max-height: 40px;
}

.gsstartRecord > button {
  background-color: #78b19a;
}

.gsstartRecord > button > img {
  max-height: 60px;
}

.gsstartRecord > button:hover {
  background-color: #83d3b3;
}

.gsstartRecord .recordingBtn {
  background-color: #953d3d;
}

.gsstartRecord .recordingBtn:hover {
  background-color: #e23434;
}

/* .gssubGrid button {
  width: calc(48%);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gsstartSeq {
  background: #78b19a;
  float: left;
}

.gsstopSeq {
  background: #b19a78;
  float: right;
}

.gssubGrid button::after {
  position: absolute;
  top: 0;
  content: '';
  height: 100%;
  width: 100%;
}

.gsstartSeq::after {
  right: 0;
  z-index: 1;
  background: #78b19a;
  transform-origin: bottom right;
  transform: skewX(-20deg);
}

.gsstopSeq::after {
  right: 0;
  background: #b19a78;
  transform-origin: top left;
  transform: skewX(-20deg);
}

.gsstartSeq:hover, .gsstartSeq:hover::after {
  background: #83d3b3;
}

.gsstopSeq:hover, .gsstopSeq:hover::after {
  background: #d8b98a;
}

.gssubGrid button img {
  z-index: 2;
  height: 40%;
} */

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #b1788f;
}

::-webkit-scrollbar-thumb {
  background: #78b19a;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: #78b19a;
}

@media only screen and (max-height: 500px) {
  .evenrow, .row3, .row5, .row7, .row9 {
    display: none;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .row1 button {
    width: 100%;
    height: 50%;
  }
  .row1l::after, .row1r::after {
    transform: none;
  }
}
