.title {
  font-size: 5em;
  color: rgba(37, 116, 169, 1);
  margin: 20px;
}


.outer {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.middle {
  display: table-row;
}

.inner {
  display: table-cell;
  background-color: rgba(30, 139, 195, 1);
}
