.hideDOM {
  display: none;
}

.showDOM {
  height: 100%;
}

#hintMask {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hintMask > div {
  padding: 10px;
  border-radius: 5px;
  background-color: #eecdcc;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
}

.icon > img {
  width: 25px;
  height: 25px;
}

.icon:hover {
  border-radius: 50%;
  background-color: #b1788f;
}

.menuIcon {
  top: 2em;
  left: 2.6em;
}

.toggleIcon {
  top: 5em;
  left: 2.5em;
}

.clearIcon {
  top: 1.9em;
  right: 2em;
}

.randomIcon {
  top: 5em;
  right: 2em;
}

.narutoIcon {
  top: 8.4em;
  right: 2em;
}

.narutoIcon .glow {
  -webkit-filter: drop-shadow(1px 2px 3.3px rgb(255, 255, 255));
  filter: drop-shadow(1px 2px 3.3px rgb(255, 255, 255));
}

.displayHide {
  visibility: hidden;
  opacity: 0;
}

.menu {
  position: fixed;
  width: 40%;
  height: 100%;
  z-index: 1;
  background-color: #724a59;
  transition: all .7s ease-in-out;
}

.toggleMenu {
  margin-left: 0%;
}

/* mask */

.mask {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.3;
  z-index: 1;
  transition: margin .7s ease-in-out;
  border: none;
  outline: none;
}

.hideMask {
  margin-left: 100%;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .menu {
    width: 40%;
  }
  .toggleRevMenu {
    margin-left: -40%;
  }
  .mask {
    width: 60%;
  }
  .showMask {
    margin-left: 40%;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .menu {
    width: 80%;
  }
  .toggleRevMenu {
    margin-left: -80%;
  }
  .mask {
    width: 20%;
  }
  .showMask {
    margin-left: 80%;
  }
}

.menuBtn {
  display: flex;
  flex-wrap: wrap;
}

.control {
  display: flex;
  width: 20em;
  margin: 0.3em auto;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 5em;
  height: 2em;
  font-style: italic;
  margin: 1em;
  background-color: #eecdcc;
  padding-top: 0.5em;
  cursor: pointer;
}

/* animation */

.animation {
  position: absolute;
  top: 0;
  z-index: -1;
}

.colorMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.colorMenu button {
  /*width: 100%;*/
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.menuLogo {
  width: 40%;
}

/* general row */

.row3, .row5, .row7 {
  height: 19%;
  display: flex;
}


/* row1 */

.row1 {
  height: 16%;
}

.row1BtnWrap {
  height: 100%;
  width: 100%;
}

.row1 button {
  width: calc(48%);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1l {
  background: #78b19a;
  float: left;
}

.row1r {
  background: #b19a78;
  float: right;
}

.row1 button::after {
  position: absolute;
  top: 0;
  content: '';
  height: 100%;
  width: 100%;
}

.row1l::after {
  right: 0;
  z-index: 1;
  background: #78b19a;
  transform-origin: bottom right;
  transform: skewX(-20deg);
}

.row1r::after {
  right: 0;
  background: #b19a78;
  transform-origin: top left;
  transform: skewX(-20deg);
}

.row1l:hover, .row1l:hover::after {
  background: #83d3b3;
}

.row1r:hover, .row1r:hover::after {
  background: #d8b98a;
}

.row1 button img {
  z-index: 2;
  height: 40%;
}

/* row3 */

.row3l {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.row3l button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: #73676b;
  margin: 0;
}

.row3l button:hover, .row3m button:hover {
  background: #725862;
}

.row3l button img, .row3m button img {
  height: 50%;
  width: 50%;
}

.row3m {
  height: 100%;
  width: 30%;
}

.row3m button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #73676b;
}

.row3r {
  display: flex;
  flex-direction: column;
  width: 40%;
  background: #724a59;
}

.row3ru {
  display: flex;
  justify-content: center;
  height: 20%;
  border: 3px solid white;
  border-radius: 0.5em;
  margin: 0.5em 5% 0;
}

.row3input {
  border:none;
  background: transparent;
  outline: 0;
  width: 90%;
  background: #724a59;
}

.row3rd {
  height: 80%;
  margin: 3% 7% 3% -3%;
  overflow: auto;
  overflow-x: hidden;
}

.row3rd ul {
  margin: 0;
}

/* row4 */

.chain {
  display: block;
  max-width:179px;
  max-height:26px;
  width: auto;
  height: auto;
}

/* row5 */

.row5l, .row5m {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.row5lu, .row5ld, .row5mu, .row5md {
  display: flex;
  height: 50%;
  background: #73676b;
}

.row5l div button, .row5m div button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #73676b;
}

.row5l div button:hover, .row5m div button:hover {
  background: #725862;
}

.row5l div button img, .row5m div button img {
  height: 50%;
  width: 50%;
}

.row5r {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 3% 3% -3%;
  width: 40%;
  height: 80%;
  overflow-x: hidden;
}

.chainLi {
  width: 70%;
  height: 85%;
  margin: 0 0 0 10%;
  cursor: pointer;
  background: #724a59;
}

.currentPlayingItem {
  background-color: #d8b98a;
}

.chainIndex {
  padding-left: 10%;
}

/* row7 */

.row7l {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: #73676b;
}

.startRecordBtn {
  width: 100%;
  height: 100%;
  background: #78b19a;
}

.startRecordBtn:hover {
  background: #83d3b3;
}

.recordingBtn {
  background: rgb(149, 61, 61);
}

.recordingBtn:hover {
  background: rgb(226, 52, 52);
}

.startRecordBtn img {
  width: 50%;
  height: 50%;
}

.row7r {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3% 3% 3% -3%;
  overflow: auto;
}

.row7input {
  border:none;
  background: transparent;
  outline: 0;
  width: 90%;
  background: #724a59;
}

.row7rd {
  height: 80%;
  margin: 3% 0 3% 3%;
  overflow: auto;
  overflow-x: hidden;
}

.listWrap {
  width: 100%;
  height: 32%;
  margin: -5% 0 0 0;
}

.renderedLi {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 0% 0 13%;
  margin: 0 0 0 6%;
}

.renderedLi:hover {
  background-color: #d8b98a;
}

.renderedLiTitle {
  text-align: left;
  width: 70%;
  background: transparent;
}

.renderedListX {
  text-align: left;
  width: 30%;
  background: transparent;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

/* even row (2, 4, 6, 8) */

.evenrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1788f;
  height: 5%;
}

.evenrow img {
  height: 70%;
}

/* row9 */

.row9 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #724a59;
  height: 7%;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #b1788f;
}

::-webkit-scrollbar-thumb {
  background: #78b19a;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: #78b19a;
}

@media only screen and (max-height: 500px) {
  .evenrow, .row3, .row5, .row7, .row9 {
    display: none;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .row1 button {
    width: 100%;
    height: 50%;
  }
  .row1l::after, .row1r::after {
    transform: none;
  }
}
