.matrix {
  display: flex;
  height: 100%;
  transition: opacity 1s ease-out;
  /*border: solid 1px red;*/
}

.row {
  display: flex;
  /*border: solid 1px blue;*/
}

.rect {
  display: flex-block;
  /*min-height: 2em;*/
  margin: 0.2em;
  background-color: #585f60;
  opacity: 0.1;
  transition: opacity .3s ease-in-out;
  outline: none;
  border: none;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .matrix {
    height: 99%;
    padding: 0.5%;
  }
  .row {
    width: 10%;
    flex-direction: column;
  }
  .rect {
    height: 20%;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .matrix {
    flex-direction: column;
    height: 99%;
    padding: 0.5%;
  }
  .row {
    flex-direction: row;
    width: 100%;
    height: 10%;
  }
  .rect {
    width: 20%;
  }
}

.hover {
    cursor: pointer;
    opacity: 0.3;
}

/*.rect:hover {
  cursor: pointer;
  opacity: 1;
}*/

.clicked {
  background-color: #ccedee;
  opacity: 0.5;
}

.current {
  background-color: #eecdcc;
}

.clicked.current {
  animation-name: stretch;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: none;
  }
  50% {
    transform: scale(.6);
    background-color: #eecdcc;
  }
  100% {
    transform: scale(1.8);
    background-color: pink;
  }
}

.idle {
  opacity: 0;
}
