.cont {
  display: grid;
  grid-template: 0.2em 1fr 0.2em / 0.2em 1fr 0.2em;
  height: 100%;
}

.matrix {
  display: grid;
  grid-area: 2 / 2 / span 1 / span 1;
  transition: opacity 0.1s ease-out;
}

.col {
  display: grid;
}

.rect {
  background-color: #585f60;
  transition: opacity 0.1s ease-in;
  opacity: 0.1;
  outline: none;
  border: none;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .matrix {
    grid-template: 1fr / repeat(16, 1fr);
    grid-column-gap: 0.2em;
  }
  .col {
    grid-template: repeat(8, 1fr) / 1fr;
    grid-row-gap: 0.2em;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .matrix {
    grid-template: repeat(16, 1fr) / 1fr;
    grid-row-gap: 0.2em;
  }
  .col {
    grid-template: 1fr / repeat(8, 1fr);
    grid-column-gap: 0.2em;
  }
}

.clicked {
  background-color: #ccedee;
  opacity: 0.3;
}

.hover {
  cursor: pointer;
  opacity: 0.4;
}

/*.rect:hover {
  cursor: pointer;
  opacity: 1;
}*/

.current {
  background-color: #eecdcc;
}

.clicked.current {
  animation-name: stretch;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    background-color: none;
  }
  50% {
    transform: scale(.6);
    background-color: #eecdcc;
  }
  100% {
    transform: scale(1.8);
    background-color: pink;
  }
}

.idle {
  opacity: 0;
}
