.title {
  font-size: 5em;
  /*color: rgba(37, 116, 169, 1);*/
  color: #eecdcc;
  margin: 0em;
  text-align: center;
}

.control {
  display: block;
  width: 20em;
  margin: 0.5em auto;
  align-items: center;
}

.btn {
  display: inline-block;
  align-self: center;
  text-align: center;
  width: 5em;
  height: 2em;
  font-style: italic;
  margin: 1em;
  background-color: #eecdcc;
  padding-top: 0.5em;
}
