@media only screen and (min-width: 600px) {
  .title {
    font-size: 5em;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3em;
    margin: 1em;
  }
}

.title {
  /*color: rgba(37, 116, 169, 1);*/
  color: #eecdcc;
  margin: 0em;
  text-align: center;
}

.control {
  display: flex;
  width: 20em;
  margin: 0.3em auto;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 5em;
  height: 2em;
  font-style: italic;
  margin: 1em;
  background-color: #eecdcc;
  padding-top: 0.5em;
  cursor: pointer;
}

.animation {
  position: absolute;
  top: 0;
  z-index: -1;
}
