/*@media only screen and (min-width: 600px) {
  .title {
    font-size: 5em;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3em;
    margin: 1em;
  }
}*/

.hideDOM {
  display: none;
}

.showDOM {
  height: 100%;
}

.icon {
  position: fixed;
  cursor: pointer;
  z-index: 2;
}

.menuIcon {
  top: 3%;
  left: 2%;
}

.clearIcon {
  top: 3%;
  right: 2%;
}

.randomIcon {
  top: 6%;
  right: 2%;
}

.displayHide {
  visibility: hidden;
  opacity: 0;
}

.menu {
  position: fixed;
  width: 40%;
  height: 100%;
  z-index: 1;
  background-color: #724a59;
  transition: all .7s ease-in-out;
  /*transition: width .7s ease-in-out;*/
  /*transition: margin .7s ease-in-out;*/
}

.toggleMenu {
  margin-left: 0%;
}

/* mask */

.mask {
  position: fixed;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  transition: margin .7s ease-in-out;
  border: none;
  outline: none;
}

.hideMask {
  margin-left: 100%;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .menu {
    width: 40%;
  }
  .toggleRevMenu {
    margin-left: -40%;
  }
  .mask {
    width: 60%;
  }
  .showMask {
    margin-left: 40%;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .menu {
    width: 80%;
  }
  .toggleRevMenu {
    margin-left: -80%;
  }
  .mask {
    width: 20%;
  }
  .showMask {
    margin-left: 80%;
  }
}

/*.closeIcon {
  position: absolute;
  right: 2%;
  top: 1%;
  cursor: pointer;
}*/

/*.patternList {
  width: 70%;
  height: 35%;
  background-color: darkgrey;
}*/

.menuBtn {
  display: flex;
  flex-wrap: wrap;
}

.control {
  display: flex;
  width: 20em;
  margin: 0.3em auto;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 5em;
  height: 2em;
  font-style: italic;
  margin: 1em;
  background-color: #eecdcc;
  padding-top: 0.5em;
  cursor: pointer;
}

/* animation */

.animation {
  position: absolute;
  top: 0;
  z-index: -1;
}

/* test css */

.colorMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.colorMenu button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.colorMenu button:hover {
}

.colorMenu img {
  /*z-index: 2;*/
}

/*.colorMenu img:hover {
  opacity: 1;
}*/

.row {

}

/* row1 */

.row1 {
  height: 16%;
}

.row1 button {
  width: calc(48%);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1l {
  background: #78b19a;
  float: left;
}

.row1r {
  background: #b19a78;
  float: right;
}

.row1 button::after {
  position: absolute;
  top: 0;
  content: '';
  /*z-index: 1;*/
  height: 100%;
  width: 100%;
}

.row1l::after {
  right: 0;
  z-index: 1;
  background: #78b19a;
  transform-origin: bottom right;
  transform: skewX(-20deg);
}

.row1r::after {
  right: 0;
  background: #b19a78;
  transform-origin: top left;
  transform: skewX(-20deg);
}

.row1l:hover {
  background: #83d3b3;
}

.row1l:hover::after {
  background: #83d3b3;
}

.row1r:hover {
  background: #d8b98a;
}

.row1r:hover::after {
  background: #d8b98a;
}

.row1 button img {
  z-index: 2;
  height: 40%;
}

/* row3 */

.row3 {
  height: 19%;
  display: flex;
}

.row3l {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.row3l button {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /*height: 100%;*/
  height: 50%;
  background: #73676b;
}

.row3l button:hover {
  background: #725862;
}

.row3l button img {
  height: 50%;
  width: 50%;
}

.row3m {
  height: 100%;
  width: 30%;
}

.row3mBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #73676b;
}

.row3mBtn:hover {
  background: #725862;
}

.row3mBtn img {
  height: 50%;
  width: 50%;
}

.row3r {
  display: flex;
  flex-direction: column;
  width: 40%;
  background: #724a59;
}

.row3ru {
  display: flex;
  justify-content: center;
  height: 20%;
  border: 3px solid white;
  border-radius: 0.5em;
  margin: 0.5em 5% 0;
}

.row3input {
  border:none;
  background: transparent;
  outline: 0;
  width: 90%;
  background: #724a59;
}

.row3rd {
  height: 80%;
  margin: 3% 3% 3% 0;
  overflow: auto;
  overflow-x: hidden;
}

.row3rd ul {
  margin: 0;
}

.renderedLi {
  position: relative;
  display: flex;
}

.renderedLiX {
  position: absolute;
  right: 8%;
}

/* row4 */
.chain {
  display: block;
  max-width:179px;
  max-height:26px;
  width: auto;
  height: auto;
}

/* row5 */

.row5 {
  display: flex;
  /*background: #724a59;*/
  height: 19%;
}

.row5l {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.row5lu {
  display: flex;
  height: 50%;
}

.row5l div button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #73676b;
}

.row5l div button:hover {
  background: #725862;
}

.row5l div button img {
  height: 50%;
  width: 50%;
}

.row5ld {
  display: flex;
  height: 50%;
  width: 100%;
}

/*.row5ldl {
  width: 50%;
  background: #73676b;
}*/

/*.row5ldr {
  width: 100%;
  background: #73676b;
}*/

.row5ldbtn {
  /*width: 100%;*/
  background: #73676b;
}

.row5r {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.row5r .chainIndex {
  font-size: 8em;
}
.row5r .chainDivider {
  font-size: 8em;
}
.row5r .chainLength {
  font-size: 8em;
}

/* row7 */

.row7 {
  display: flex;
  background: #724a59;
  height: 19%;
}

.row7l {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: #73676b;
}

.row7lbtn {
  width: 100%;
  height: 100%;
  background: #78b19a;
}

.row7lbtn:hover {
  background: #83d3b3;
}

.recordingBtn {
  background: rgb(149, 61, 61);
}

.row7lbtn img {
  width: 50%;
  height: 50%;
}

/*.row7l div button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row7l div button img {
  height: 50%;
  width: 50%;
}

.row7lu {
  height: 50%;
}

.row7lu button {
  width: calc(48%);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row7lul {
  background: #78b19a;
  float: left;
}

.row7lur {
  background: #b19a78;
  float: right;
}

.row7lu button::after {
  position: absolute;
  top: 0;
  content: '';
  height: 100%;
  width: 100%;
}

.row7lul::after {
  right: 0;
  background: #78b19a;
  transform-origin: bottom right;
  transform: skewX(-20deg);
}

.row7lur::after {
  right: 0;
  background: #b19a78;
  transform-origin: top left;
  transform: skewX(-20deg);
}*/

/*.row7lu button img {
  height: 50%;
  z-index: 1;
}*/

/*.row7lul:hover {
  background: #83d3b3;
}

.row7lul:hover::after {
  background: #83d3b3;
}

.row7lur:hover {
  background: #d8b98a;
}

.row7lur:hover::after {
  background: #d8b98a;
}

.row7ld {
  display: flex;
  height: 50%;
}

.row7ld button {
  height: 100%;
  width: 50%;
  background: #73676b;
}

.row7ld button:hover {
  background: #725862;
}

.row7ld button img {
  height: 50%;
}*/

.row7r {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3% 3% 3% -3%;
  overflow: auto;
}

.row7ru {
  display: flex;
  justify-content: center;
  height: 20%;
  border: 3px solid white;
  border-radius: 0.5em;
  margin: 0 0 0 2em;
}

.row7input {
  border:none;
  background: transparent;
  outline: 0;
  width: 90%;
  background: #724a59;
}

.row7rd {
  height: 80%;
  margin: 3% 0% 3% 13%;
  overflow: auto;
  overflow-x: hidden;
}

.row7r ul {
  margin: 0 0 0 3%;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

/* even row (2, 4, 6, 8) */

.evenrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1788f;
  height: 5%;
}

.evenrow img {
  height: 70%;
}

/* row9 */

.row9 {
  background: #724a59;
  height: 7%;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #b1788f;
}

::-webkit-scrollbar-thumb {
  background: #78b19a;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #78b19a;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #78b19a;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #78b19a;
}
:-moz-placeholder { /* Firefox 18- */
  color: #78b19a;
}

@media only screen and (max-height: 500px) {
  .evenrow {
    display: none;
  }
  .row3 {
    display: none;
  }
  .row5 {
    display: none;
  }
  .row7 {
    display: none;
  }
  .row9 {
    display: none;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .row1 button {
    width: 100%;
    height: 50%;
  }
  .row1l::after {
    transform: none;
  }
  .row1r::after {
    transform: none;
  }
}

.chainList {
  width: 70%;
  /*height: 35%;*/
  background-color: grey;
}

.currentPlayingItem {
  background-color: orange;
}
