.matrix {

}

.row {
  /*margin-bottom: 1em;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rect {
  display: flex-block;
  min-height: 2em;
  width: 10%;
  margin: 0.5em;
  background-color: #585f60;
  opacity: 0.1;
}

.clicked {
  background-color: #ccedee;
  opacity: 0.5;
}

.current {
  background-color: #eecdcc;
  /*opacity: 0.8;*/
}

/*.matrix {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.row {
  display: table-row;
}


.rect {
  display: table-cell;
  height: 20px;
  background-color: #585f60;
}

.clicked {
  background-color: #ccedee;
}

.current {
  background-color: #eecdcc;
}*/
