.matrix {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.row {
  display: table-row;
}


.rect {
  display: table-cell;
  height: 20px;
  background-color: #585f60;
}

.clicked {
  background-color: #ccedee;
}

.current {
  background-color: #eecdcc;
}
